<h2>Welcome to the shop</h2>

<form action="Result" method="post">
    <input type="radio" name="item" value="movies" /> Movies
    <input type="radio" name="item" value="videogames" /> Video Games
    <input type="radio" name="item" value="computers" /> Computers<br /><br />

    <input type="submit" value="Submit" />
</form>